/* GENERAL STYLES / NAVBAR COMPONENT */

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  font-family: 'Poppins', sans-serif;
}

nav {
  display: flex;
  justify-content: space-around;
  align-items: center;
  min-height: 8vh;
  font-family: 'Poppins', sans-serif;
  background-color: rgb(0, 0, 0, 0.5);
}

.logo {
  width: 85px;
  height: 55px;
}

.nav-links {
  display: flex;
  justify-content: space-around;
  width: 55%;
}

.nav-links a {
  color: aliceblue;
  font-family: "Arial Black", Arial, Sans-Serif;
  list-style: none;
  text-decoration: none;
  letter-spacing: 3px;
  font-weight: bold;
  font-size: 18px;
}

/* Mobile Part */

.burger {
  display: none;
  cursor: pointer;
}

.burger div {
  width: 25px;
  height: 3px;
  background-color: #ffffff;
  margin: 5px;
  transition: all 0.3s ease;
}

@media screen and (max-width: 1024px) {
  .nav-links {
    width: 60%;
  }
}

@media screen and (max-width: 768px) {
  body {
    overflow-x: hidden;
  }
  .nav-links {
    position: absolute;
    right: 0px;
    height: 92vh;
    top: 8vh;
    background-color: rgba(17, 16, 16, 0.8);
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 50%;
    transform: translate(100%);
    transition: transform 0.5s ease-in;
  }
  .nav-links li {
    opacity: 0;
  }
  .burger {
    display: block;
  }
}

.nav-active {
  z-index: 2;
  transform: translate(0%)
}

@keyframes navLinkFade {
  from {
    opacity: 0;
    transform: translate(50px);
  }
  to {
    opacity: 1;
    transform: translate(0px);
  }
}

.toggle .line1 {
  transform: rotate(-40deg) translate(-3px, 4px);
}

.toggle .line2 {
  opacity: 0;
}

.toggle .line1 {
  transform: rotate(40deg) translate(-3px, -4px);
}

/* Slide Show */
/* Parent wrapper to carousel. Width can be changed as needed. */
.carousel-wrapper {
  overflow: hidden;
  width: 90%;
  margin: auto;
}

/* Apply 'border-box' to 'box-sizing' so border and padding is included in the width and height. */
.carousel-wrapper * {
  box-sizing: border-box;
}

/* We'll be using the 'transform' property to move the carousel's items, so setting the 'transform-style' to 'preserve-3d' will make sure our nested elements are rendered properly in the 3D space. */
.carousel {
  /* -webkit-transform-style: preserve-3d;
  -moz-transform-style: preserve-3d; */
  transform-style: preserve-3d;
}

/* By default we're hiding items (except the initial one) until the JS initiates. Elements are absolutely positioned with a width of 100% (as we're styling for mobile first), letting the content's height dictate the height of the carousel. Our magic property here for all our animation needs is 'transition', taking the properties we wish to animate 'transform' and 'opacity', along with the length of time in seconds. */
.carousel__photo {
  opacity: 0;
  position: absolute;
  top:0;
  width: 100%;
  height: auto;
  margin: auto;
  padding: 1rem 4rem;
  z-index: 100;
  transition: transform .5s, opacity .5s, z-index .5s;
}

/* Display the initial item and bring it to the front using 'z-index'. These styles also apply to the 'active' item. */
.carousel__photo.initial,
.carousel__photo.active {
  opacity: 1;
  position: relative;
  z-index: 900;
}

/* Set 'z-index' to sit behind our '.active' item. */
.carousel__photo.prev,
.carousel__photo.next {
  z-index: 800;
}

/* Translate previous item to the left */
.carousel__photo.prev {
  transform: translateX(-100%);
}

/* Translate next item to the right */
.carousel__photo.next {
  transform: translateX(100%);
}

/* Style navigation buttons to sit in the middle, either side of the carousel. */
.carousel__button--prev,
.carousel__button--next {
  position: absolute;
  top:50%;
  width: 3rem;
  height: 3rem;
  background-color: #FFF;
  transform: translateY(-50%);
  border-radius: 50%;
  cursor: pointer; 
  z-index: 1001; /* Sit on top of everything */
  border:1px solid black;
/*  opacity: 0;  Hide buttons until carousel is initialised 
  transition:opacity 1s;*/
}

.carousel__button--prev {
  left:0;
}

.carousel__button--next {
  right:0;
}

/* Use pseudo elements to insert arrows inside of navigation buttons */
.carousel__button--prev::after,
.carousel__button--next::after {
  content: " ";
  position: absolute;
  width: 10px;
  height: 10px;
  top: 50%;
  left: 54%;
  border-right: 2px solid black;
  border-bottom: 2px solid black;
  transform: translate(-50%, -50%) rotate(135deg);
}

.carousel__button--next::after {
  left: 47%;
  transform: translate(-50%, -50%) rotate(-45deg);
}

/* Grid Container */

#grid-container {
  display: grid;
  width: 100px;
  grid-template-columns: auto auto auto auto;
  grid-gap: 15px;
  padding: 2% 8%;
}

#grid-container img {
  width: 325px;
  height: auto;
}

#grid-container h3 {
  font-weight: bold;
  font-size: 18px;
  text-align: center;
}

/*Mobile Part */

@media screen and (max-width: 768px) {
  #grid-container {
    width: 48%;
  }
  #grid-container img {
    width: 144px;
    height: auto;
  }
}

/* Home Info */

#Tips-sec {
  width: 95%
}

#Tips-sec iframe {
  float: left;
  width: 730px;
  height: 350px;
  padding-left: 50px;
  padding-right: 20px;
  border: 0;
}

#Tips-sec h2 {
  text-align: center;
  margin: 10px;
  font-weight: bolder;
  font-size: 40px;
  /* text-shadow: rgba(0, 0, 0, 0.589); */
}

#Tips-sec p {
  padding-left: 30px;
  padding-right: 20px;
  /* font-weight: bold; */
  font-size: 16px;
  line-height: 1.9;
}

/* container */
#Front-Info{
  background: url("/img/background-picture.png") no-repeat;
  background-size: cover;
  /* width: 100%; */
  height: 600px;
}
#Front-Info .over-Box{
  background-color: #d9a9c88c; 
  display: block;
  position: relative;
  padding: 80px 35px;
  text-align: center;
  margin: 100px;
  width: 300px; 
}
#Front-Info .over-Box p{
  color: rgb(255, 254, 254);
  font-size: 20px;
} 
#Front-Info .over-Box span{
  color: rgb(75, 67, 67);
  font-size: 80px;
  font-family: cursive;
  text-shadow: 2px 3px 3px rgb(0, 0, 0);
}

/* hover styles */


img {
  width: 100%;
  height: 350px;
}

.grid-container {
  display: grid;
  padding: 30px;
  grid-template-columns: repeat(auto-fill, minmax(400px, 1fr));
  margin-top: 50px;
  grid-gap: 1em;
}


.location-listing {
  position: relative;
}

.location-image {
  line-height: 0;
  overflow: hidden;
}

.location-image img {
  filter: blur(0px);
  transition: filter 0.3s ease-in;
  transform: scale(1.1);
}

.location-title {
  font-size: 1.5em;
  font-weight: bold;
  text-decoration: none;
  z-index: 1;
  position: absolute;
  height: 100%;
  width: 100%;
  top: 0;
  left: 0;
  opacity: 0;
  transition: opacity .5s;
  background: #f1c0e09d;
  color: rgb(255, 255, 255);
  /* position the text in t’ middle*/
  display: flex;
  align-items: center;
  justify-content: center;
  text-shadow: 2px 3px 3px rgb(0, 0, 0);
}

.location-listing:hover .location-title {
  opacity: 1;
}

.location-listing:hover .location-image img {
  filter: blur(3px);
}

@media (hover: none) {
  .location-title {
      opacity: 0.8;
  }
  .location-image img {
    filter: blur(3px);
  }
}
/*  Footer */

#footer {
  background-color: rgb(0, 0, 0, 0.5);
  color: white;
  padding: 20px 20px;
  text-align: center;
}

/* Social Media Links */

.fa {
  padding: 20px;
  font-size: 30px;
  width: 50px;
  text-align: center;
  text-decoration: none;
}

.fa:hover {
  opacity: 0.9;
}

.fa-facebook, .fa-twitter, .fa-youtube, .fa-instagram {
  color: #ffffff;
}

/* PRODUCTS COMPONENT */

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  font-family: 'Poppins', sans-serif;
  /* background-color: #24252A; */
}

nav {
  display: flex;
  justify-content: space-around;
  align-items: center;
  min-height: 8vh;
  font-family: 'Poppins', sans-serif;
  background-color: rgb(0, 0, 0, 0.5);
}

.logo {
  width: 85px;
  height: 55px;
}

.nav-links {
  display: flex;
  justify-content: space-around;
  width: 55%;
}

.nav-links li {
  list-style: none;
}

.nav-links a {
  color: aliceblue;
  text-decoration: none;
  letter-spacing: 3px;
  font-weight: bold;
  font-size: 15px;
}

/* Mobile Part */

.burger {
  display: none;
  cursor: pointer;
}

.burger div {
  width: 25px;
  height: 3px;
  background-color: #ffffff;
  margin: 5px;
  transition: all 0.3s ease;
}

@media screen and (max-width: 1024px) {
  .nav-links {
    width: 60%;
  }
}

@media screen and (max-width: 768px) {
  body {
    overflow-x: hidden;
  }
  .nav-links {
    position: absolute;
    right: 0px;
    height: 92vh;
    top: 8vh;
    background-color: rgba(17, 16, 16, 0.8);
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 50%;
    transform: translate(100%);
    transition: transform 0.5s ease-in;
  }
  .nav-links li {
    opacity: 0;
  }
  .burger {
    display: block;
  }
}

.nav-active {
  transform: translate(0%)
}

@keyframes navLinkFade {
  from {
    opacity: 0;
    transform: translate(50px);
  }
  to {
    opacity: 1;
    transform: translate(0px);
  }
}

.toggle .line1 {
  transform: rotate(-45deg) translate(-5px, 6px);
}

.toggle .line2 {
  opacity: 0;
}

.toggle .line1 {
  transform: rotate(45deg) translate(-5px, -6px);
}

/* Slide */

figure img {
  width: 900px;
  height: auto;
  display: block;
  margin-left: auto;
  margin-right: auto;
  margin-top: 20px;
}

@media screen and (max-width: 768px) {
  figure img {
    width: 700px;
  }
}

/* Product */

.grid-container {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  grid-gap: 10px;
  padding: 20px 20px;
}

@media screen and (max-width: 767px) {
  .grid-container {
    grid-template-columns: 1fr;
  }
}

/* Title & Filter */

.Header {
  margin: 50px;
  text-align: center;
}

.Header h1 {
  font-size: 100px;
  border-bottom: 2px solid #2f2f2f;
  border-top: 2px solid #2f2f2f;
}

.Header .title {
  color: lightpink;
  font-family: cursive;
  font-style: italic;
  font-size: 160px;
  text-shadow: 1px 1px 2px rgb(0, 0, 0, 0.5);
}

.form-container {
  margin: 35px;
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
  font-size: 20px;
  font-weight: bolder;
  letter-spacing: 5px;
  word-spacing: 5px;
}
.form-container #filterSelect {
  font-size: 15px;
  font-weight: bold;
  border-bottom: 2px solid #2f2f2f;
  border-top: 2px solid #2f2f2f;
}
.form-container #priceSelect{
  font-size: 15px;
  font-weight: bold;
  border-bottom: 2px solid #2f2f2f;
  border-top: 2px solid #2f2f2f;
}
.product-price{
  font-weight: bolder
}
/* Grid Container */

.grid-container > section {
  /* height: 600px;
  margin: 20px auto; */
  border: 1px solid #aaa;
  box-shadow: 1px 1px 3px rgba(243, 192, 200, 0.692);
  cursor: pointer;
}

img {
  width: 230px;
  height: auto;
  display: block;
  margin-left: auto;
  margin-right: auto;
  padding: 10px;
}

.grid-container p, span {
  padding: 15px;
}

.grid-container h2 {
  padding: 15px;
}

.product-item {
  text-align: center;
  position: relative;
}

.product-description {
  max-width: 75%;
  margin: 0 auto;
  margin-bottom: 50px;
}

/* 
.product-price {
  position: absolute;
  bottom: 0;
  left: 50%;
  transform:translateX(-50%);
} */

.item__price {
  display: none;
}
.item__type{
  display: none;
}

/* Footer */

#footer {
  background-color: rgb(0, 0, 0, 0.5);
  color: white;
  padding: 20px 20px;
  text-align: center;
}

/* Social Media Links */

.fa {
  padding: 20px;
  font-size: 30px;
  width: 50px;
  text-align: center;
  text-decoration: none;
}

.fa:hover {
  opacity: 0.9;
}

.fa-facebook, .fa-twitter, .fa-youtube, .fa-instagram {
  color: #ffffff;
}

/* CONTACT COMPONENT */

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  font-family: 'Poppins', sans-serif;
  /* background-color: #24252A; */
}

nav {
  display: flex;
  justify-content: space-around;
  align-items: center;
  min-height: 8vh;
  font-family: 'Poppins', sans-serif;
  background-color: rgb(0, 0, 0, 0.5);
}

.logo {
  width: 85px;
  height: 55px;
}

.nav-links {
  display: flex;
  justify-content: space-around;
  width: 55%;
}

.nav-links li {
  list-style: none;
}

.nav-links a {
  color: aliceblue;
  text-decoration: none;
  letter-spacing: 3px;
  font-weight: bold;
  font-size: 15px;
}

/* Mobile Part */

.burger {
  display: none;
  cursor: pointer;
}

.burger div {
  width: 25px;
  height: 3px;
  background-color: #ffffff;
  margin: 5px;
  transition: all 0.3s ease;
}

@media screen and (max-width: 1024px) {
  .nav-links {
    width: 60%;
  }
}

@media screen and (max-width: 768px) {
  body {
    overflow-x: hidden;
  }
  .nav-links {
    position: absolute;
    right: 0px;
    height: 92vh;
    top: 8vh;
    background-color: rgba(17, 16, 16, 0.8);
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 50%;
    transform: translate(100%);
    transition: transform 0.5s ease-in;
  }
  .nav-links li {
    opacity: 0;
  }
  .burger {
    display: block;
  }
}

.nav-active {
  transform: translate(0%)
}

@keyframes navLinkFade {
  from {
    opacity: 0;
    transform: translate(50px);
  }
  to {
    opacity: 1;
    transform: translate(0px);
  }
}

.toggle .line1 {
  transform: rotate(-45deg) translate(-5px, 6px);
}

.toggle .line2 {
  opacity: 0;
}

.toggle .line1 {
  transform: rotate(45deg) translate(-5px, -6px);
}

/* Contact */

#contactForm{
display: flex;
flex-direction: row;
justify-content: center;
/* margin-bottom: 100px; */
/* padding: 100px 100px; */
}

.formImage{
background: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)), url('https://images.unsplash.com/photo-1512030177916-15d3b38d704a?ixlib=rb-1.2.1&auto=format&fit=crop&w=932&q=80') no-repeat;
width: 50%;
padding: 0px 50px;
height: 900px;
color: white;
text-align: center;
}

form{
padding: 100px 40px;
background: #b75cb0a8;
width: 50%;
font-size: 30px;
/* height: 100%; */
color: #FFFF;
text-shadow: 1px 1px 2px rgb(0, 0, 0, 0.5);
}

#contactForm .contact-items{
margin-bottom: 20px;
}

#contactForm label {
display: block;
margin-bottom: 5px;
}

#contactForm input,
#contactForm textarea{
width: 100%;
padding: 10px;
border: 1px #ddd solid;
}

#contactForm textarea{
height: 200px;
}
em.error {
margin-left: 5px;
padding: 2px 4px;
background-color: red;
color: white;
border-radius: 2px;
}
.has-error {
background-color:  #b670dfad;
}

#contactForm input:focus,
#contactForm textarea:focus{
outline: none;
border-color: #b670dfad;
}

.btn{
background: rgba(154, 32, 178, 0.671);
padding: 10px 10px;
color: white;
border: none;
cursor: pointer;
font-size: 20px;
text-decoration: none;
transition: 0.6s;
}

.btn:hover{
background: #bf72d696;
}
/* Footer */ 
#footer{
background-color: rgb(0, 0, 0, 0.5);
color: white;
padding: 20px 20px;
text-align: center;
}

/* Social Media Links */
.fa {
padding: 20px;
font-size: 30px;
width: 50px;
text-align: center;
text-decoration: none;
}
.fa:hover {
opacity: 0.9;
}
.fa-facebook, .fa-twitter,.fa-youtube,.fa-instagram {
color: #ffffff;
}


